.wrapper {
  width: 600px;
  margin: 20px auto;
}

.post-wrapper {
  margin: 0 0 10px 0;
}

.delete-button {
  font-size: 12px;
  cursor: pointer;
  color: red;
}

.buttons-wrapper {
  margin: 20px 0;
}

.buttons-wrapper button {
  margin-right: 10px;
}
